@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
body {
  font-family: 'Questrial', sans-serif;
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
}

.transition {
  transition: all .3s ease-out;
}